# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:123456@mysql:3306/opratel_db"
BASE_API_URL="http://localhost:3000"

MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=opratel_db
MYSQL_LOCAL_PORT=3307
MYSQL_DOCKER_PORT=3306

JWT_SECRET_KEY="205476c4914b10f8a64fc9caa48c7c6250abe49527fa13a400fa43c8c6f71feb"

PORT=4000
